<section class="grid_5" id="about">
  <h1>Вакансии для разработчиков, использующих Ruby</h1>
  <p>
    Проект абсолютно некоммерческий и создан исключительно с целью поддержки сообщества разработчиков.
  </p>
  <p>
    Размещение вакансий бесплатно и не требует регистрации.
  </p>
</section>
<section class="grid_7">
  <ol id="recent-vacancies">
    <li><a href="">Ruby программист</a></li>
    <li><a href="">Злые марсиане ищут сильного рубиста на полную занятость для работы над новыми проектами</a></li>
    <li><a href="">Требуется опытный и быстрый ruby-программист</a></li>
    <li><a href="">Ruby-программист в Банк (Москва)</a></li>
    <li><a href="">Программист Ruby on Rails</a></li>
    <li><a href="">Остальные (38)</a></li>
  </ol>
</section>