<% content_for :meta_title, t(".meta_title") %>

<div class="span12">
  <div class="page-header"><h1><%= t(".title") %></h1></div>
  <%= render :partial => "form", :locals => { :vacancy => @vacancy } %>
</div>