<% content_for :meta_title, t(".meta_title") %>
<% content_for :sidebar do %>
  <h1><%= t(".sidebar.title") %></h1>
  <p><%= t(".sidebar.description") %></p>
<% end %>


<div class="span12">
  <div class="page-header"><h1><%= t(".title") %></h1></div>
  <%= render :partial => "form", :locals => { :vacancy => @vacancy } %>
</div>