// = require bootstrap.min
// = require_self
// = require_tree .

.button_to {
  display:inline-block;
  margin:0;
  padding:0;
}
.field_with_errors {
  display:inline;
}
.sidebar {
  color:#808080;
}
.sidebar h1, .sidebar h5 {
  color:#707070;
}
.sidebar h1 {
  font-size:20px;
  line-height:24px;
}
.sidebar .logo {
  margin-bottom:104px;
}
.sidebar .tips {
  margin-bottom:65px;  
}
.sidebar .delivery-methods a {
  color:#808080;
}
.share-buttons {
  margin-left:0;
  padding-top:0.2em;
  list-style:none outside;
}
.share-buttons li {
  display:inline-block;
  vertical-align:middle;
  margin:0;
  padding:0 5px 0 0;
}

.content-section {
  padding-top:39px;
}

.footer {}
.footer, .footer a {
  color:#808080;
}
.footer nav ul {
  list-style:none;
  margin:0;
  padding:0;
}
.footer nav ul li {
  display:inline-block;
  margin-right:26px;
}
