$pt-sans-font-stack: 'PT Sans Narrow', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;

#about {}
#about h1 {
  margin:0 0 14px 0;
  font-size:52px;
  line-height:48px
}
#about p {
  color:#929292
}

#recent-vacancies {
  margin:0 0;
  padding:0;
}
#recent-vacancies li {
  display:list-item;
  list-style:outside none none;
  counter-increment:counter;
  position:relative;
  margin:0 0 22px 0;
  padding:0 0 0 50px;
  font:normal 22px/28px $pt-sans-font-stack;
}
#recent-vacancies li:before {
  display:block;
  position:absolute;
  top:-4px;
  left:0px;
  width:36px;
  height:36px;
  content:counter(counter);
  background-color:#c1272d;
  color:#fff;
  text-align:center;
  border-radius:18px;
  font:bold 22px/38px $pt-sans-font-stack;  
}
#recent-vacancies li:last-child:before {
  content:"...";
}
#recent-vacancies li:last-child {
  color:#929292;
  font-size:16px;
}
#recent-vacancies li a {
  color:inherit;
}
